/* Body styles **********/
body {
    min-height: 100vh;
    font-family: "Roboto Regular", sans-serif;
    background-color: var(--background-color-light);
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
}

/* Main styles **********/
main {
    flex: 1;
    max-width: 1200px;
    min-width: 390px;
    margin: 0 auto var(--spacing-xlarge);
    padding: 0 var(--spacing-medium);
}

/* Styles for tablets and smaller screens **********/
@media screen and (max-width: 897px) {

    /* Body styles **********/
    body {
        height: auto;
        min-height: 100vh;
        font-family: "Roboto Regular", sans-serif;
        background-color: var(--background-color-light);
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;
    }

    /* Main styles **********/
    main {
        margin: 0 auto var(--spacing-medium);
        padding: 0 var(--spacing-medium);
    }

}

/* Styles for mobile devices and small screens **********/
@media screen and (max-width: 500px) {
    main {
        margin: 0 auto var(--spacing-small);
        padding: 0 var(--spacing-small);
    }
}