/* Header section styles **********/
.header {
    width: 50%;
    max-width: 1200px;
    min-width: 390px;
    margin: var(--spacing-large) auto;
}

.header--form {
    color: var(--font-color-light);
}

.header__image-cell {
    width: 100%;
}

.header__image-element {
    width: 100%;
    margin-bottom: var(--spacing-medium);
}

.header__title {
    font-family: "Roboto Bold", sans-serif;
    font-size: var(--font-size-xlarge);
    margin-bottom: var(--spacing-medium);
    text-align: center;
}

.header__description {
    font-family: "Roboto Bold", sans-serif;
    font-size: var(--font-size-meduim);
    text-align: center;
    line-height: var(--spacing-large);
}