/* Product styles **********/
.product {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: var(--spacing-medium);
    border: 2px solid var(--border-color-dark);
    border-radius: var(--border-radius-base);
}

.product__image-cell {
    width: 55%;
}

.product__image-element {
    width: 100%;
}

.product__caption {
    font-size: var(--font-size-base);
    font-style: italic;
    text-align: center;
}

.product__features {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-left: 2px solid var(--border-color-dark);
    width: 45%;
    background-color: var(--form-secondary-color);
    padding-top: 3%;
}

.product__features-title {
    text-transform: uppercase;
    font-family: "Roboto Bold", sans-serif;
    font-size: var(--font-size-large);
}

.product__features-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    justify-content: space-evenly;
}

.product__feature {
    border: 2px solid var(--border-color-dark);
    border-radius: var(--border-radius-base);
    padding: var(--spacing-small);
    background-color: var(--background-color-light);
}

/* Product description styles *********/
.product__article {
    border-top: 2px solid var(--border-color-dark);
    padding: var(--spacing-large);
}

.product__description {
    padding: var(--spacing-medium);
    font-size: var(--font-size-small);
}

/* Gallery styles **********/
.gallery {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 50%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    gap: var(--spacing-small);
    margin-bottom: var(--spacing-medium);
}

.gallery::-webkit-scrollbar {
    height: var(--spacing-medium);
}

.gallery::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-gallery-color);
    border-radius: var(--border-radius-base);
}

.gallery__image-cell {
    scroll-snap-align: start;
}

.gallery__image-element {
    width: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-base);
}

/* Video styles **********/
.video {
    height: auto;
    position: relative;
    aspect-ratio: 16 / 9;
    margin-bottom: var(--spacing-medium);
}

.video__element {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* Specifications styles **********/
.specifications {
    background-color: var(--background-color-dark);
    color: var(--font-color-light);
}

.specifications__title {
    text-align: center;
    text-transform: uppercase;
    font-family: "Roboto Bold";
    padding: var(--spacing-medium);
    border: 2px solid var(--border-color-light);
}

.specifications__list {
    background-color: var(--background-color-dark);
}

.specifications__feature {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.specifications__description {
    text-transform: uppercase;
    padding: var(--spacing-small);
    border: 1px solid var(--border-color-light);
    display: flex;
    align-items: center;
}

.specifications__value {
    border: 1px solid var(--border-color-light);
    padding: var(--spacing-small);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Styles for tablets and smaller screens **********/
@media screen and (max-width: 897px) {

    /* Product styles **********/
    .product__caption {
        font-size: var(--font-size-xsmall);
    }

    .product__features-title {
        font-size: var(--font-size-meduim);
    }

    .product__feature {
        font-size: var(--font-size-base);
    }

    /* Product description styles *********/
    .product__article {
        padding: var(--spacing-small);
    }

    .product__description {
        padding: var(--spacing-small);
        font-size: var(--font-size-base);
    }

    /* Gallery styles **********/
    .gallery {
        grid-auto-columns: 100%;
        margin-bottom: var(--spacing-small);
    }

    .gallery::-webkit-scrollbar {
        height: var(--spacing-small);
    }

    .gallery__image-cell {
        position: relative;
    }

    .gallery__image-cell::after,
    .gallery__image-cell::before {
        color: var(--arrow-gallery-color);
        position: absolute;
        font-size: 2.5rem;
        opacity: 40%;
        top: 50%;
        transform: translateY(-50%);
    }

    .gallery__image-cell:last-child::before {
        content: "<";
        left: var(--spacing-small);
    }

    .gallery__image-cell:first-child::after {
        content: ">";
        right: var(--spacing-small);
    }

    .gallery__image-cell:not(:first-child):not(:last-child)::before {
        content: "<";
        left: var(--spacing-small);
    }

    .gallery__image-cell:not(:first-child):not(:last-child)::after {
        content: ">";
        right: var(--spacing-small);
    }

    /* Specifications styles **********/
    .specifications__title {
        padding: var(--spacing-small);
    }

    .specifications__list {
        font-size: var(--font-size-base);
    }

    .specifications__description {
        height: var(--spacing-xlarge);
    }

    .specifications__value {
        height: var(--spacing-xlarge);
    }
}

/* Styles for mobile devices and small screens **********/
@media screen and (max-width: 500px) {

    /* Product styles **********/
    .product {
        margin-bottom: var(--spacing-small);
    }

    .product__features-title {
        font-size: var(--font-size-small);
    }

    .product__feature {
        font-size: var(--font-size-xsmall);
        padding: var(--spacing-xsmall);
    }

    /* Product description styles *********/
    .product__article {
        padding: 0;
    }

    .product__description {
        font-size: var(--font-size-xsmall);
    }

    /* Video styles **********/
    .video {
        margin-bottom: var(--spacing-small);
    }

    /* Specifications styles **********/
    .specifications__title {
        padding: var(--spacing-small);
        font-size: var(--font-size-small);
    }

    .specifications__list {
        font-size: var(--font-size-xsmall);
    }
}

/* Styles for mobile devices and small screens orientation landscape **********/
@media screen and (max-height: 600px) and (orientation: landscape) {

    /* Gallery styles **********/
    .gallery {
        grid-auto-columns: 50%;
    }

    .gallery__image-cell::after,
    .gallery__image-cell::before {
        display: none;
    }

    .gallery::-webkit-scrollbar {
        height: var(--spacing-xsmall);
    }

    /* Video styles **********/
    .video {
        margin: 0 auto var(--spacing-medium);
        width: 72%;
    }
}